<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Edit product form</p>
    <form method="post">
        {% csrf_token %}
        <lable>Product name</lable>
        <input type="text" name="productName" value="{{product.productName }}">
        <lable>Price</lable>
        <input type="number" name="price" value="{{ product.price}}">
        <label>Stock</label>
        <input type="number" name="stock" value="{{ product.stock}}">
        <button type="submit">Edit Product</button>
    </form>
 

    
</body>
</html>